

<div class="container border-top box-shadow-top">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
    <div class="col mb-3">
      <a href="/" class="text-decoration-none cursor-pointer">
        <h3 style="color: #5819e4">Quick Links</h3>
      </a>
    </div>

    <div class="col mb-3"></div>

    <div class="col mb-3">
      <h5>Useful Links</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="/" class="p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/#features" class="p-0 text-body-secondary">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/#pricing" class="p-0 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/faq" class="p-0 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="/#about" class="p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div>
    <!-- 
    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Features</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="p-0 text-body-secondary">About</a>
        </li>
      </ul>
    </div> -->
  </footer>
  <div class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
    >
      <div class="d-flex justify-content-center">
        <p class="text-center text-body-secondary">
          ©
          <script>
            const year = new Date().getFullYear();
            document.write(year);
          </script>
          QuickURLs, Inc.  All rights reserved.
        </p>
        <p class="text-center text-body-secondary">
          Designed & Developed by
          <a href="https://www.ajaytainwala-dev.github.io" target="_blank"
            >Ajay Tainwala</a
          >
        </p>
      </div>
    </footer>
  </div>
</div>
